/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

/*
body {
    background-color: #1d2323;
}
*/

.tab-wide {
    flex-grow: 1;
    flex-basis: 100px;
}

.td-slider-label {
    padding-right: 10px;
}

.lab2cont {
    display: flex;
    flex-wrap: wrap;
}

.lab2item {
    margin: 10px 20px;
}
